{# templates/categorie/nouveau.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <h1>Nouvelle Catégorie</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.titre) }}
    {{ form_row(form.ordre) }}

    {{ form_end(form) }}
{% endblock %}
